
<div class="card card-length ">
  <div class="text-bg-dark ">
    <div class="d-flex justify-content-between w-100" >
        <h5 class="card-header ">{{title}}  </h5> <p class="creator-p"> <span>posted by: {{user.username}} 
            {{ formatDate createdAt}}  </span> </p>
    </div>
  </div>
  <div class="card-body text-bg-success">    
    <p class="card-text">{{content}} .</p>
  </div>
</div>

{{#if logged_in}}

{{#each comments as |e|}}
<div class="card card-length">
  <div class="text-bg-info">
    <div class="d-flex justify-content-between w-100" >
        <h5 class="card-header ">{{e.content}}  </h5> <p class="creator-p" > <span>posted by: {{e.user.username}} {{ formatDate e.createdAt}}  </span> </p>
        
    </div>
  </div>
</div>
{{/each}}

<div class="card card-length">
  <div class="bg-warning">
    <div class="d-flex justify-content-between w-100" >
        <h5 class="card-header ">Comment  </h5> 
         
    </div>
  </div>
  <div class="mb-3">
  
  <textarea class="form-control border-primary" data-id="{{id}}" id="text-area" rows="3"></textarea>
</div>
<div class=" d-grid ">
    <button id="comment" type="button" class="btn btn-secondary btn-lg btn-block">submit comment</button>   
</div>

</div>
{{/if}}

<script src="/js/comment.js"></script>